:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

header a {
  color: initial;
  text-decoration: none;
}

code {
  font-family: Menlo, Monaco, 'Courier New', monospace;
  background-color: #e0e0e0; /* 背景色でコード部分を強調 */
  color: #d63384; /* コード部分の文字色 */
  padding: 2px 4px; /* 小さな余白でコード部分を目立たせる */
  border-radius: 4px; /* 角を少し丸く */
  font-size: 0.95em; /* 通常のテキストより少し小さめ */ 
  font-weight: 600; /* 通常のテキストより少し太め */
}

/* ブラウザ幅が広いときのスタイル */
body {
  max-width: 800px;  /* 最大幅を設定 */
  margin: 0 auto;     /* 自動マージンで中央に配置 */
  padding: 0 20px;    /* コンテンツの左右に余白を確保 */
}

/* 幅が一定以下のときはコンテンツを画面幅いっぱいに広げる */
@media (max-width: 800px) {
  body {
    max-width: 100%;  /* 画面幅いっぱいに広げる */
    padding: 0 10px;  /* 画面幅に対して少しの余白を確保 */
  }
}

header {
  height: 100px;              
  display: flex;
  align-items: center;        /* 子要素を上下中央に配置 */
  justify-content: flex-start; /* 左寄せにしたい場合はflex-start */
}

div.post-header hr {
  border: none;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #bbbbbb;
}

div.post-body > h1 {
  font-size: 1.7em;
  margin-bottom: 0.4em;
}

div.post-body > h2 {
  font-size: 1.4em;
  margin-bottom: 0.2em;
}

div.post-body > h3 {
  font-size: 1.2em;
  margin-bottom: 0.2em;
}

div.post-body > h4 {
  font-size: 1.1em;
  margin-bottom: 0.2em;
}

div.post-body > h5 {
  font-size: 1.05em;
  margin-bottom: 0.1em;
}

div.post-body ul, div.post-body ol {
  padding-left: 20px;  /* デフォルトのインデント幅を指定 */
}

div.post-body ul ul, div.post-body ol ol {
  padding-left: 20px;  /* ネストされたリストにさらにインデントを追加 */
}

div.post-body ul ul ul, div.post-body ol ol ol {
  padding-left: 20px;  /* 深いネストにも追加インデント */
}

div.post-body p {
  margin-top: 0.9em;
  margin-bottom: 0.9em;
}

div.post-body img {
  display: block;
  margin: 0 auto;
}

div.post-body {
  margin-bottom: 40px;
}

div.post-body div.iframely-embed {
  margin: 40px 100px;
}

@media (max-width: 800px) {
  div.post-body div.iframely-embed {
    margin: 40px 12px;
  }
}

div.post-body pre>code {
  margin: 40px auto;
  font-weight: initial;
}

div.post-body a {
  color: #555599;
  text-decoration: underline;
}

.datetime {
  font-family: Menlo, Monaco, 'Courier New', monospace;
  margin-right: 20px;
}

header p img {
  vertical-align: middle;
  border-radius: 50%;
  margin-right: 10px;
}

header p span {
  vertical-align: middle;
}

p.link-to-older-blog {
  margin-top: 20px;
  font-style: italic;
}

h1 {
  font-size: 1.4em;
  margin-bottom: 0.5em;
}

ul.no-dot, ol.no-dot {
  list-style-type: none;
}

div.post-share {
  margin-bottom: 120px;
}

div.post-share span.x-share-button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 100px;
}

div.post-share span.x-share-button span {
  vertical-align: middle;
}

div.post-share span.x-share-button span.x-logo {
  font-size: 1.6em;
  margin-right: 10px;
}

div.post-share span.x-share-button span.x-label {
  font-weight: bold;
}

div.post-container {
  display: flex;
  align-items: first baseline;
}

div.post-container p.datetime {
  width: 100px;
  flex-shrink: 0;
  white-space: nowrap;
}

div.post-container p.post-title {
  flex-grow: 1;
  word-wrap: break-word;
  max-width: 80%;
}
